html{
  scroll-behavior: smooth;

}


body{

  margin:0px;



}


div.loadingPage{

  color:rgb(227,70,73);
  background-color: rgb(43,43,43);
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("home-cover-3.jpg");
  background-size:cover;




}

div h1{

     font-size: 23px;
     font-family: 'Lato', sans-serif;
     /* padding-top: 20px; */
     position: relative;
     top:50px;
}

#plam{

  height: 400px;
  width: 300px;
  margin-top: 70px;

}

div h2{

   color: white;
   font-family: "Lato",cursive;
   font-size:60px;
   position:relative;
   padding:68px;
   margin-top:15%;

}


div h3{

   color: white;
   font-family: "Lato",cursive;
   font-size:2em;
   padding:100px;


}




li {

   display: inline-block;
   margin:5px;
   text-align: center;
   font-family: 'Lato', sans-serif;
   color:rgb(227,70,73);

}




div.menu{

  background-color: none;
  text-align: center;
  bottom:100px;
  height:0px;

}


.row {
  display: flex;
  height: 100%;
  flex-direction: row;
  -webkit-box-orient:horizontal;
  align-items: stretch;


}

.sticky{

   position: -webkit-sticky;
   position: sticky;
   top:0;






}

.leftColumn {

  width: 50%;
  transition: 0.4s;
  transition-timing-function: ease-out;
  scroll-behavior: smooth;


}


.leftColumn button{

  background-color: rgb(227,70,73);
  color: white;
  font-size: 12px;
  border: none;
  padding:9px;

  float: right;
  position: relative;
  top: -200px;

  z-index: 1000;
  height: 30px;
  width: 30px;
  border-radius: 30px;



}

.rightColumn{

  width:50%;
  transition: 0.4s;
  transition-timing-function: ease-out;
  scroll-behavior: smooth;


}



#coverPage{

  overflow-y: scroll;
  /* scroll-snap-type: y mandatory; */

}



#content{

    overflow-y:auto;
    overflow-x:hidden;
    font-size: 20px;
    font-family:"Lato",sans-serif;
    scroll-snap-type: y mandatory;

}

#desc{

  /* scroll-snap-align: start; */
}

#workPic{

  /* scroll-snap-align: start; */
}


a:visited{

  color:inherit;

}

a:link{
  text-decoration: none;
  color:inherit;
}

a:hover{
  color:white;
}

a::after{
  color:inherit;
}


#cs{

  height: 100%;
  width: 70%;
  background-color: white;
  margin-right: 2%

}

#cs:hover{
     opacity: 0.3;

}


#econ{

  height:100%;
  width: 30%;
  background-color: rgb(200,220,210);


}

#econ:hover{
     opacity: 0.3;
}


#humanity{
  height: 100%;
  width: 60%;
  background-color: lightblue;
  margin-right: 2%
}

#humanity:hover{
     opacity: 0.3;

}


#language{
  height:100%;
  width: 40%;
  background-color: rgb(200,220,232);
}

#language:hover{
     opacity: 0.3;

}




.uwrapper{
  display: flex;
  height: 35%;
  margin:auto;
  width:75%;
  margin-bottom:2%;
  margin-top:9%;

}


.dwrapper{
  display: flex;
  height: 30%;
  width:75%;
  margin:auto;

}


.workMenu li {

  color:lightblue;


}

#workPic{

  transition:transform 1s;
  transition:0.5s;
  transition-delay: 0.8s;
  transition-timing-function: ease-out;



}


#workPic:hover{
  /* transform: scale(1.1); */
}


.title{

  color: white;
  position:absolute;
  top:35%;
  left: 45%;
  /* top:100px; */
  z-index: 10000;



}


.box{
  position: relative;
  text-align: center;
  transition:0.5s;

  transition-timing-function: ease-out;



}

#canvas {
  width: 400px;
  height:400px;
}


.returnButton{

    background-color: rgb(227,70,73);
    color: white;
    font-size: 12px;
    border: none;
    padding:9px;

    float: right;
    position: relative;
    top: -200px;

    z-index: 1000;
    height: 30px;
    width: 30px;
    border-radius: 30px;


}


.workText p{

  font-family: "Lato",sans-serif;
  line-height:2;
  padding: 100px;
  font-size: 15px;
  margin-top:0px;
  margin-bottom:0px;

}


.workText{

  /* text-align: center; */
  transition-delay: 10s;
  transition: 10s;
}


.gallery{

  display: flex;
  flex-wrap: nowrap;
  text-align: center;


}

.gallery > div{

  margin: 45px;


}


.code_desc{
  padding:0px;
  margin:12px;
}



.NBA_code{
}


.colorWheel{

  height:25px;
  width:25px;
  border-radius: 50%;
  margin-right:12px;


}


.elements{

  text-align:center;

}

.wrapper{
   font-family:"Lato",sans-serif;
   font-size: 22px;
   position:relative;
   scroll-snap-align: start;
}


.content{

  position:absolute;
  color:white;
  top: 35%;
  left: 15%;

}

.course-breakdown{

  position:absolute;
  color:white;
  top: 12%;
  left: 9%;
  opacity:0;
  transition:.8s ease;


}

.product-description{

  position:absolute;
  color:white;
  top: 38%;
  left: 38%;
  opacity:0;
  transition:.8s ease;


}


.overlay {

  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:.5s ease;
  background:black;

}


.wrapper:hover .overlay{

  opacity:0.8;

}

.wrapper:hover .course-breakdown{
  opacity:1;

}

.box:hover .overlay{

  opacity:0.6;

}


.box:hover .product-description{
  opacity:1;
}


.product-description button{

  color:white;
  background-color: transparent;
  padding:15px;
  font-size:15px;
  font-family: "Lato",sans-serif;
  border-color: white;
  margin-top:70px;

}

.product-description button:hover{

  color:black;
  background-color: white;
  padding:15px;
  font-size:15px;
  font-family: "Lato",sans-serif;
  border-color: white;
  margin-top:70px;

}


.product-description button:focus{

outline:none;

}
